@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@import url(https://fonts.googleapis.com/css?family=Candara);
@import url(https://fonts.googleapis.com/css?family=Arimo|Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300);

#page-wrap{
width: 960px;
margin: 0px;
}

#education{
   width: 960px;
   margin: 0px;
   
}
.testing img {
   float: left;
   
}
.testing h10{
   float: right;
   width: 20px;
}

#paragraph{
   float:left;
}

html { 
  background:"https://cloud.githubusercontent.com/assets/13753063/10622584/24887842-774e-11e5-98d9-11ec8120fc7a.jpg"  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#page-wrap{
 padding-top: 20px;
 border-style: double;
 color: #c5cdd3;



}
h1{
  color: #595959;
  font-size:40px;
  font-family: 'Comfortaa', cursive;
  font-weight: 5pt;
  

}
h2{
  color: #595959;
  font-size:18px;
  font-family: 'Didact Gothic', sans-serif;
}
h3{
  color: #595959;
  text-align: "justify,right";
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 200;
  font-size: 18px;
  
}
h4{
  color: #595959;
  text-align: "justify,right";
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 200;
  font-size: 18px;
}
h5{
  color: #595959;
  text-align: "justify,right";
  font-family: 'Didact Gothic', sans-serif;
}
h6{
  color: #595959;
  text-align: "justify,right";
  font-style: italic;
  font-size: 18px;
}
h7{
  color: #595959;
  text-align: "justify,right";
  font-family: 'Didact Gothic', sans-serif;
  font-size: 18px;
}
h8{
  color: #595959;
  text-align: "justify,right";
  font-family: 'Didact Gothic', sans-serif;
  font-size:18px;
}

p{
  color: #595959;
  
  text-align: "justify,right";
  font-family: 'Didact Gothic', sans-serif;
}
#aboutme{
  height: auto;
  width: 600px;
  color: #333333;
}
#girlswhocode{
  height: auto;
  width: 600px;
  color: #595959;
}
#cssmenu {
  background: #FFFFFF;
  width: auto;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #99a7b2;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #99a7b2;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content:" ";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #99a7b2;
  opacity: .5;
}
#cssmenu ul li a:before {
  content:" ";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #99a7b2;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #99a7b2;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}
